{%- if messages[0].role == 'system' %}{{- '<|im_start|>system\n' }}{%- for content in messages[0].content %}{%- if 'text' in content %}{{- content.text }}{%- endif %}{%- endfor %}{{- '<|im_end|>\n' }}{%- endif %}{%- for message in messages %}{%- if message.role != 'system' %}{{- '<|im_start|>' + message.role + '\n' }}{%- for content in message.content %}{%- if 'text' in content %}{{- content.text }}{%- endif %}{%- endfor %}{{- '<|im_end|>\n' }}{%- endif %}{%- endfor %}{%- if add_generation_prompt %}{{- '<|im_start|>assistant\n' }}{%- endif %}